---
layout: home
hide_header: true
hide_breadcrumb: true
---

<div class="container-fluid">
        <div class="row">  
            <section class="banner">   
                <div class="container">
                    <div class="col-md-12">
                        <h1>Develop for Sage Business Cloud Financials</h1>
                        <p class="lead">Learn how to start using Financials via the Salesforce REST APIs.</p>
                        <a href="{{ site.baseurl }}/getting-started" class="btn btn-primary">Get started</a>
                    </div>
                </div>
            </section>
        </div>
    </div> 

<div class="container">
    <section class="tiles">
        <h3 class="center">Explore the Financials API</h3>
        <div class="row">
            <a href="{{ site.baseurl }}/how-to" class="product">
                <div class="panel col-md-6">
                    <div class="panel-body">
                        <h4>How to</h4>
                        <p>View step-by-step scenarios illustrating how to use Financials via the Salesforce REST APIs.</p>
                    </div>
                </div>
            </a>

            <a href="{{ site.baseurl }}/api" class="product">
                <div class="panel col-md-6">
                    <div class="panel-body">
                        <h4>API Reference</h4>
                        <p>Read the descriptions of publicly available Financials REST resources and their attributes.</p>
                    </div> 
                </div>
            </a>
        </div>
        <div class="row">
            <a href="{{ site.baseurl }}/tools" class="product">
                <div class="panel col-md-6">
                    <div class="panel-body">
                        <h4>Tools &amp; Learning resources</h4>
                        <p>Try tools for working with REST APIs. Check out Financials learning resources.</p>
                    </div>
                </div>
            </a>
        </div>
        <p class="text-right">
                <a class="btn btn-link btn-xs" role="button" target="_blank" href="{{ site.data.ui-text.feedback.url }}{{ page.url | prepend: site.baseurl | prepend: site.url | url_encode }}">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ site.data.ui-text.feedback.text }}
                </a>
            </p>
    </section>

    <section class="latest-updates">
        <h3 class="center">Latest Updates</h3>

        <ul class="list-group">
            {% for post in site.posts %}
            <li class="list-group-item">
                <span class="badge">{{ post.date | date: "%Y-%m-%d" }}</span>
                <h4 class="list-group-item-heading">
                    <a href="{{ post.url | prepend:site.baseurl }}">{% if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</a>
                </h4>
                <p class="list-group-item-text">{{ post.excerpt }}</p>
            </li>
            {% endfor %}
        </ul>


    </section>
</div>