<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="kCWqdHlliX1hUOlwG6wHsx9aqHK-8SCpGjzk1n_nbdM" />
	<!-- Global site title and description meta tags for SEO  by RY -->
	{% if page.description %}
	<meta name="description" content="{{ page.description | truncate: 160, '' }}">
	{% endif %}
	<meta name="title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}"/>
	<!-- RY end-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114664506-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-114664506-1');
	</script>


    {% if page.url == '/' %}
        <title>{{ site.title }}</title>
        {% if site.bing_site_auth != blank %}
        <meta name="msvalidate.01" content="{{ site.bing_site_auth }}" />
        {% endif %}
    {% else %}
        <title>{{ page.title }} | {{ site.title }}</title>
    {% endif %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="{{ '/assets/css/site.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/github.css' | prepend: site.baseurl }}">
    <link rel="icon" href="{{ '/assets/favicon.ico' | prepend: site.baseurl }}">
</head>
