<div class="col-sm-3 col-xs-12 hidden-print" role="complementary">
    <div class="list-group">
        {% assign url = page.url|remove:'index.html' %}
        {% assign base = site.data.sidebars[page.sidebar].base %}
        {% for item in site.data.sidebars[page.sidebar].items %}
        {% assign link = item.url | prepend:base %}
        <a href="{{ link | prepend:site.baseurl }}" class="list-group-item {% if link == url %}active{% endif %}">
            {{ item.title }}
        </a>
        {% endfor %}
    </div>
</div>