<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="mainBody">

    {% include navbar.html %}

    <div class="container-fluid documentation">

        {% if site.data.sidebars[page.sidebar].items.size < 2 or page.hide_sidebar == true %}

            <div class="col-sm-12" role="main">
                {% include breadcrumb.html %}

                {% include pageheader.html %}

                {{ content }}

                

            </div>

        {% else %}
            <div class="col-sm-push-1 col-sm-10 col-sm-pull-1 col-xs-12" role="main">
                <div class="row">
                    <div class="col-sm-12">
                        {% include breadcrumb.html %}
                    </div>
					{% if page.sidebar_heading %}
						<h1 class="center">{{ page.sidebar_heading }}</h1>
					{% endif %}
                </div>				
                <div class="row">
                    {% include sidebar-accounting.html %}

                    <div class="col-sm-9 col-xs-12">

                        <h1>{{ page.title }}</h1>

                        {{ content }}

                        {% include pagination-nav.html %}
                        <hr>

                        

                    </div>
                </div>
            </div>

        {% endif %}

    </div>

    {% include footer.html %}

    {% include scripts.html %}

    </body>

</html>
